
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    
  }

  /* share style  */
  .text-primary{

  }
.nav-color{
    color: #006A50;
}

/* nav styles  */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;

}
.nav-title{
    font: bold;
    font-size: 32px;
    color: #0E0E0E;
    
}
.nav-btn{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    background-color: none;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    
}
/* common style 
margin: 16px 120px 66px 116px; */
/* banner style  */


.banner{
    display: flex;
    justify-content: space-between;
    margin: 16px 120px 66px 116px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.bannar-content{
    /* max-width: 600px; */
    margin: 44px 74px 0px 74px;
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #0E0E0E;
}
.banner-pic{
    /* width: 470px; */
    margin: 0px 54px 44px 54px;
}
.banner-btn{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600px;
    padding: 17px 34px;
    border-radius: 8px;
    color: white;
    background-color: #006A50;
    border: none;
}

/* technology section */
.tech-head{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-left: 116px;
}

.technology-container{
    display: flex;
    gap: 20px;
    
}
.technology{
    padding: 24px;
    background-color: darkgray;
    margin: 16px 120px 66px 116px;
    border-radius: 16px;
    gap: 20px;
}
.technology-title{
    font-size: 18px;
    font-weight: bold;
    color: #0E0E0E;
    margin: auto;
    padding: 22px;
}
.technology-description{
    font-size: 16px;
    font-weight: 400;
}

/* future style  */

.future{
    margin-left: 116px;
    margin-bottom: 32px;

}
.future-head{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;

}
.future-para{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    margin-right: 93px;
}
.future-container{
    display: flex;
    gap: 24px;
    margin-right: 100px;

}
.future-content-one{
    width: 400px;
    border-radius: 16px;
    background-color: #5490F5;
}
.future-content-two{
    width: 400px;
    border-radius: 16px;
    background-color: #09A15C;
    

}
.future-content-three{
    width: 400px;
    border-radius: 16px;
    background-color: #FFC239;
    

}
.future-title{

}
.future-description{

}
.future-btn{

}

/* content-speech */
.content-speech-primary{
        background-color: #f4f3ef;
        padding: 20px 20px;
        border-radius: 16px;
        margin-top: 32px;
        margin-right: 93px;
        /* background-image: url(../assets/quote-bg.png);
        background-repeat: no-repeat;
        background-position: top left; */
}

.content-speech-secondary{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 6px;
    font-size: 16px;
    color: #rgba(14, 14, 14, 0.700 ) ;

}
.content-speech-secondary-head{
    margin-bottom: 0px;

}

.speech-icon{

}
/* .speech-para{
} */
.speech-head{
    font-weight: 600px;
    color: #0E0E0E;


}
.speech-para{
    font-weight: 400px;
    font-size: 14px;
    margin: 0px;
}

/* Recent news */
.news{
    /* margin: 80px 160px; */
    margin: 50px 93px;
}

.recent-news{

}
.recent-news-des{

}
.news-control{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 44px;
    border-radius: 24px;
    background-color: #f4f3ef;
    margin: 16px;

}
.news-control-two{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 44px;
    border-radius: 24px;
    background-color: #f4f3ef;
}

.image-control{
    border-radius: 24px;

}

.newe-headline{
    font-size: 32px;
    font-weight: bold;

}

.news-description{
    font-size: 16px;
    margin-bottom: 28px;

}
.news-btn{
    background-color: #006A50;
    color: white;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;

}

.aljazeera{
   
}